extends layout
block content
    .row
     .formHold
       h1 Register an account
        form(method="post")
         fieldset
          label(for="name") User Name:
          input(name="name", type="text", Placeholder="User Name") 
          label(for="email") Email:
          input(name="email", type="text", Placeholder="E-Mail Address") 
          label(for="password") Password:
          input(name="password", type="text", Placeholder="Password") 
          button.button(type="submit") Register